body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 -20px;
    cursor: default;
}

.header {
    background-image: url("./assets/stellar-infra.jpeg");
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    /* padding: 10px 50px 0px 30px; */
    padding: 30px 100px 0px 100px;
    justify-content: space-between;
    background-color:rgba(0, 0, 255, 0.5)
}

.content {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.nav-links {
    display: flex;
    cursor: default;
}

a {
    padding: 12px;
    color: #999999;
    text-decoration: none;
    color: #ffe9e9;
}

a:hover {
    color: #f69d3c;
}

.hero {
    display: flex;
    padding: 80px 100px 100px 100px;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    gap: 24px;
}

.hero-main {
    margin-bottom: 12px;
}

.text-cta {
    width: 500px;
}

.hero-img {
    width: 500px;
    height: 250px;
    border-radius: 12px;
    box-shadow: inset 1 0 0 0 rgba(0, 0, 255, 0.5);
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin-top: 0px;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: rgba(0, 0, 255, 0.5);
}

button {
    color: #ffffff;
    padding: 8px 48px;
    border-radius: 8px;
    border: 1px solid #ddf638;
    font-size: 16px;
}

button:hover {
    background-color: rgb(0, 0, 255);
    cursor: pointer;
}

.content {
    text-align: center;

}

.info-container {
    display: flex;
    justify-content: space-around;
    padding: 25px 150px 50px 150px;
}

.info-img {
    box-shadow: inset 20 20 20 20 rgba(1, 4, 255, 0.3);
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    display: block;
    height: 100px;
    border-radius: 12px;
    
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    padding: 25px 200px 0px 200px;
    color:rgb(255, 255, 255)
}

.quote-text {
    font-style: italic;
    font-weight: 100;
}

h4 {
    text-align: right;
}

.cta-banner {
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin: 50px 100px 50px 100px;
    border-radius: 8px;
    align-items: center;
}

.cta-text {
    text-align: left;
    line-height: 12px;
    padding: 70px;
}

button.secondary {
    border: 1px solid #ffffff;
    margin: 50px 20px 50px 20px;
}

.bottom-container {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 255, 0.5),
        rgba(246, 156, 60, 0.724)
    ), url("./assets/site-bg.jpg");
}

.cta-banner {
    background-color: rgba(0, 0, 255, 0.5)
}

.footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    padding: 20px 0px;
}

.content-container {
    background-image: radial-gradient(closest-side, hsl(231, 100%, 50%), #ebf8e1, #f69d3c);
    text-align: center;
    padding: 15px;
}